*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
   
}

#main{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
   
}
#first_main{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(58, 14, 235);
    box-shadow: 0px 0px 0 0px darkblue;
    border-radius: 20px;
    margin-right: 0px;
    background-color: #1900c1;
    margin-right: -10px;
    z-index: 2;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
}

.heading {
    margin-top: 20px;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size:large;
    color: grey;
    margin-bottom: 20px;
}

.numbers {
            height: 115px;
            border: 20px solid grey;
            border-radius: 60%;
            padding: 30px;
            box-shadow: 0 0 20px 0 blue;
            border: hotpink;
            align-content: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
}
.Main_number{
            font-size: 50px;
            color: white;
            font-family:monospace;
            font-weight: 600;
}
.Desciption_number{
    font-size: smaller;
    color: gray;
    font-family:monospace;
    margin-left: 10px;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.footer_head{
    margin:30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    height: 10px;
}
.footer_description{
    color: grey;
    line-height: 1;
    width: 64%;

}
#second_main{
    height: 400px;
    width: 400px;
    border: 2px solid white;
    box-shadow: 0px 0px 0 0px white;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.summary {
        margin: 25px;
        font-size: x-large
}

.buttons{
    height:80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4px;
}
.sections {
    height: 40px;
    width: 92%;
    padding: 10px;
    margin: 10px;
    border: 1px none black;
    border-radius: 10px;
    box-shadow: 0px 0px 2px -2px black;
    border: hotpink ;
    display: flex;
    justify-content: flex-start;
    
}
.image{
    width: 10px;
    height: 10px;
    margin: 5px;
    display: inline-block;
}
.number_of_section{
    font-size: smaller;
    margin-left: 75px; 
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.number_of_section > .rightside_numbers {
    color: blue;
}
.number_of_section > .number100 {
    color: grey;
}

.footer_button{
    height: 70%;
    width: 90%;
    margin-left: 4px;
}
.footer_button > button {
    height: 50px;
    width: 81%;
    border-radius: 30px;
    margin: 25px;
    padding: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
