*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle, #8A2BE2, #FF69B4);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-image: radial-gradient(circle, #8A2BE2, #FF69B4);
    transition-property: all;
    

}
.box{
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 20px;
    transition-duration: 1s;
    
}
.box:hover{
    transform: scale(1.10);
    cursor: pointer;
}